# Directories potentially created
build/
dist/


# Django stuff:
*.log
target/

### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea
.idea/
.idea/
./on-chain/node_modules/
./on-chain/artifacts/
./on-chain/cache/
config.toml
config_*.toml

# The project's config file
config.toml
config.json
conf.toml
conf.json



