port="8888"
dev = true


[DataBase]
dbHost="localhost"
dbPort="3306"
dbSchemaName="swan_scan"
dbUsername="root"
dbPwd="123456"
dbArgs="charset=utf8mb4&parseTime=True&loc=Local"

[NbaiMainnetNode]
rpcUrl = ""
paymentContractAddress = ""
contractFunctionSignature = ""
scanStep = 2000
startFromBlockNo = 6925072
cycleTimeInterval = 10 #unit:second


[BscMainnetNode]
rpcUrl = "https://data-seed-prebsc-1-s1.binance.org:8545/"
#rpcUrl = "https://bsc-dataseed.binance.org/"
bscAdminWallet = ""
#bscAdminWallet = ""
childChainManageContractAddress = ""
gasLimit = 800000
chainID = 97  # mainnet 56 ;test net 97
paymentContractAddress = ""
contractFunctionSignature = ""
scanStep = 2000
startFromBlockNo = 12050113
cycleTimeInterval = 10 #unit:second

[ScheduleRule]
nbai2BscMappingRedoRule = "0 */3 * * * ?"  #every minute
