port="8888"
dev = true
bsc_admin_wallet = ""
nbai_admin_wallet = ""



[data_base]
db_host="localhost"
db_port="3306"
db_schema_name="swan_scan"
db_username="root"
db_pwd="123456"
db_args="charset=utf8mb4&parseTime=True&loc=Local"

[nbai_mainnet_node]
rpc_url = ""
chain_ID = 999

#payment_contract_address = ""
#contract_function_signature = ""
#scan_step = 2000
#start_from_blockNo = 6990651
#cycle_time_interval = 10 #unit:second


[bsc_mainnet_node]
rpc_url = "https://data-seed-prebsc-1-s1.binance.org:8545/"
chain_ID = 97  # mainnet 56 ;test net 97
#rpc_url = ""
#rpc_url = "https://bsc-dataseed.binance.org/"
#bsc_admin_wallet = ""
#child_chain_manage_contract_address = ""
#gas_limit = 800000

[eth_mainnet_node]
rpc_url = "https://goerli.infura.io/v3/48f20ab65d0142c58e8e73658940a533"
chain_ID = 5  # mainnet 56 ;test net 97


[schedule_rule]
nbai2bsc_mapping_redoRule = "0 */3 * * * ?"  #every minute

[nbai_to_bsc]
#for scan nbai event
nbai_to_bsc_event_contract_address = ""  #for scan event
nbai_to_bsc_event_contract_event_function_signature = ""
scan_step = 2000
start_from_blockNo = 7043090
cycle_time_interval = 10 #unit:second
#for bsc
nbai_swap_to_bsc_contract_address = ""  # when event log scaned, to call this
gas_limit = 800000


[bsc_to_nbai]
#for scan bsc event
bsc_to_nbai_event_contract_address = "" #for scan event
bsc_to_nbai_event_contract_event_function_signature = ""
start_from_blockNo = 12391227
cycle_time_interval = 10 #unit:second
scan_step = 2000
#for nbai
bsc_swap_to_nbai_contract_address = ""  # when event log scaned, to call this

[nbai_on_eth_to_bsc]
#for scan nbai event
nbai_on_eth_to_bsc_event_contract_address = ""  #for scan event
nbai_on_eth_to_bsc_event_contract_event_function_signature = ""
scan_step = 2000
start_from_blockNo = 5555946
cycle_time_interval = 10 #unit:second
#for bsc
handling_fee = "100" # uinit:nbai
eth_swap_to_bsc_contract_address = ""  # when event log scaned, to call this
gas_limit = 800000



